<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./assets/app.js" defer></script>
    <link rel="stylesheet" href="./assets/style.css" />
    <title>RCG</title>
  </head>
  <body>
    <div id="app">
      <div id="rcg-wrapper">
        <div class="text-header centered">
          <span>and your card is</span>
        </div>
        <div class="centered">
          <div class="card-wrapper">
            <div id="card" v-bind:class="{flipped:isFlipped}">
              <div class="card front">
                <div class="card-contents">
                  <div class="num top" v-bind:class="{red:isRed}">
                    <span>{{cardNum}}</span>
                  </div>
                  <div class="suit center">
                    <span>{{cardSuit}}</span>
                  </div>
                  <div class="num bot" v-bind:class="{red:isRed}">
                    <span>{{cardNum}}</span>
                  </div>
                </div>
              </div>
              <div class="card back">
                <div class="bg-container">
                  <img src="./assets/img/backside.png" alt="back of card" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-container centered">
          <button v-on:click="getRandomCard">draw</button>
        </div>
        <div class="creds">
          <span>Developed by {{developer}}</span><br />
          <span>Design by {{designer}}</span>
        </div>
      </div>
    </div>
    <script src="./server.js"></script>
  </body>
</html>
