@import url('https://fonts.googleapis.com/css?family=Roboto|Ultra&display=swap');

@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura\ Book\ font.ttf')
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #276266;
}

/* center */
.centered {
  display: flex;
  justify-content: center;
  align-content: center;
}

#rcg-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* text-header */
.text-header {
  margin-bottom: 21px;
}

.text-header>span {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Futura', sans-serif;
  color: #F2C94C;
  letter-spacing: 0.2em;
  font-size: 20px;
  line-height: 27px;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
}

/* card */
.card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 23px 14px 23px;
}

.card-contents div {
  height: calc(276px /3);
  width: 100%;
}

.num {
  font-family: 'Ultra', serif;
  font-size: 40px;
  line-height: 51px;
  color: black;
  text-align: center;

}

.suit {
  font-family: 'Ultra', serif;
  font-size: 63px;
  line-height: 81px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.bot {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.bot span {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

/* btn */

.btn-container {
  margin-bottom: 17px;
}

button {
  width: 89px;
  height: 36px;
  background: #EB5757;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  font-family: 'FuturaBold', sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

button:hover {
  background: rgba(235, 87, 87, 0.8);
}

/* credits */
.creds {
  text-align: center;
}

.creds>span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #1A4245;
}

/* animations */
.card-wrapper {
  position: relative;
  width: 200px;
  height: 300px;
  margin-bottom: 34px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card>.card {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.front {
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
}

#card.flipped {
  transform: rotateY(180deg);
}

.num.red {
  color: #EB5757;
}

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

img {
  height: auto;
  width: 205px;
  margin: 10px 23px 14px 23px;
  border-radius: 20px;
}